/* App.css holds 
 * 		- color and size constants
 * 		- main container class
 * 		- main base class 
 * 		*/


:root {
  --color1: #111720;
  --color2: #1A2131;
  --color3: #ecf0f1;
  --color4: #2c3e50;
  --containerWidth: 80%;
  --borderWidth: 2px;
  --textSize1: 18px;
  --textSize2: 24px;
  --brdRad1: 10px;
  --fontFamily1: 'Montserrat', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	margin: 4em 0;
}


.base {
	display: flex; 
	flex-direction: column;
	justify-content: flex-start; 
	align-items: center; 
	height: 208vh;
	width: 100vw; 
	background-color: var(--color1);	
	margin: 0;
} 



.navbar {
	display: flex; 
	min-height: 8vh;
	max-height: 10%;
	margin-bottom: 0;
	width: var(--containerWidth);
	flex-direction: row;
	background-color: var(--color3); 
	border-radius: var(--brdRad1) var(--brdRad1) 0 0;
	margin-bottom: 0;
}


.navbarName {
	/* border-left: var(--borderWidth) solid var(--color1); */ 
	flex-basis: 25%;
	display: flex; 
	align-items: center;
	justify-content: center;	
	padding-left: 2em;
	font-size: var(--textSize2);
}

.navbarName p {
	margin-right: 5em;
	font-weight: 900;
	color: var(--color1);
}

.navbarSpace {
	/* border-left: var(--borderWidth) solid var(--color1); */ 
	flex-basis: 5%;
}

.navbarLogin{
	/* border-left: var(--borderWidth) solid var(--color1); */ 
	flex-basis: 30%;
	display: flex;
 	padding: 15px;
	justify-content: space-around;
}

.navbarLogin a {
	color: var(--color1);
}


.navbarLogin button{
	color: var(--color1);
	background-color: var(--color3);
	border: none;
	min-width: 8em;
	font-size: var(--textSize1);
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	transition: border-width 0.5s ease, color 0.5s ease, border-color 0.5s ease; 
}

.navbarLogin button:hover {
	border-radius: 10px;
	border: solid;
	border-width: var(--borderWidth);  
	background-color: var(--color1);
	color: var(--color3);
	cursor: pointer;
}

.navbarLogin button:hover a {
	color: var(--color3);
} 


.navbarContents {
	/* border-left: var(--borderWidth) solid var(--color1); */ 
	flex-basis: 40%;
	display: flex;
	justify-content:space-between; 
	padding: 20px;
} 

.navbarContents a {
	text-decoration: none;
	color: inherit;        
	font-size: var(--textSize1);
}



/* headline stuff */
.headline {
	margin-top: 0;
	height: 20%;
	background-color: var(--color2);
	width: var(--containerWidth);
	display: flex;
	flex-direction: row;
	min-height: 70vh;
	max-height: 95vh;
	overflow: scroll;
	/* border-style: solid; */ 
	/* border-color: var(--color1); */ 
	border-radius: 0 0 var(--brdRad1) var(--brdRad1);

	/* create max height and width based on screen size */

} 

.headlineBox1 {
	flex-basis: 60%;
	display: flex; 
	flex-direction: column;
	overflow: scroll;
} 

.headlineBox1 h2, h3, h4 {
	padding-left: 5rem;
	color: var(--color3);
}


.headlineBox1 h2 {
	font-size: 55px;
}

.headlineBox1 h3 { 
	font-size: 35px;
}


.headlineBox1 h4 { 
	font-size: 30px;
}

.headlineBox1 p {
	font-size: var(--textSize1);
} 

.headlineButton {
	margin-top: 1em;
	width: 22%;
	margin: 0 auto;
	border-radius: var(--brdRad1);
	font-family: var(--fontFamily1);
	transition: border-width 0.5s ease, color 0.5s ease, border-color 0.5s ease; 
	background-color: var(--color3);
	color: var(--color1);
}

.headlineButton:hover {
	border-radius: 10px;
	border: solid;
	border-width: var(--borderWidth);  
	background-color: var(--color1);
	color: var(--color3);
	cursor: pointer; 
}

.headlineBox2 {
	flex-basis: 40%;
	border-left: var(--borderWidth) solid var(--color1);
	overflow: scroll;
} 

.features {
	display: flex;
	flex-direction: row;
	min-height: 62vh;
	width: var(--containerWidth);
	background-color: var(--color2); 
	border-radius: var(--brdRad1) var(--brdRad1) 0 0;
}

.featuresSquare { 
	display: flex; 
	justify-content: center; 
	align-content: center; 
	flex-direction: column;
	flex-basis: 33%;
	border-width: var(--borderWidth);  
	border-style: solid; 
	border-color: var(--color1); 
}

.featureText {
	flex: 4;
	max-height: 12em;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3em;
	padding-top: 2em;
	text-align: center;
	overflow: scroll;
}

.featureText h5 { 
	padding-top: 0;
	margin-top: 0;
	font-size: 1.4em;
	color: var(--color1);
} 

.featureText p {
	padding-top: 0;
	margin-top: 0;
	font-size: 18px;
	color: var(--color1);
}

.featureEmojis {
	font-size: 30px;
}

.featurePicture {
	flex: 5;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.centeredImageFeature{
	max-width: 50%; 
	height: auto; 
}

.footer { 
	margin-top: 3em; 
	width: 80%;
	min-height: 5vh;
	border-radius: var(--brdRad1);
	display: flex; 
	flex-direction: row;
	overflow: hidden;
}

.footerPortionEnd {
	background-color: var(--color3);
	box-sizing: border-box;
	width: 30%;
}

.footerPortionEnd p {
	color: var(--color2); 
} 

.footerPortionMiddle {
	background-color: var(--color3);
	flex: 2;
	display: flex; 
	align-items: center;
	justify-content: center;
}

.centeredImage {
	max-width: 20%; 
	height: auto; 
}


.containerLogin{ 
	background: linear-gradient(to top, 
		#dc644c,
		#934a5b,
		#5d3b56,
		#352b44,
		#121121,
		black
	);
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.signin {
	background-color: var(--color2);
	height: 58vh;
	width: 50vh;
	border-radius: 10px;
	display: flex;
	flex-direction: column; 
} 


.signin h3 {
	font-size: 4vh;
	padding: 0;
	margin: 0 auto;
	color: white;
	padding-top: 3vh;
	margin-bottom: 1vh;
} 

.signInField {
	font-size: 2.7vh;
	margin: 0 15%;
}


.signInField p {
	color: white;
}

.signInField input {
	width: 98%;
	height: 3vh;
	border-radius: 4px;
	padding: 0.5vh; 
	font-size: 1.75vh;
}


.loginButton {
	margin: 0 auto;
	margin-top: 5vh;
	height: 6vh;
	width:  15vh;
	font-size: 2.3vh;
	border-radius: 10px;
	color: var(--color5);
}

.authError {
	height: 3vh;
	width: 80%;
	margin: 0 auto;
	margin-top: 2vh;
}


.authError p {
	font-size: 1.8vh;
	color: red;
	padding-left: 10%;
	padding-bottom: 0;
	margin-bottom: 0;
}

.register{
	background-color: var(--color2);
	height: 90vh;
	width: 40vw;
	border-radius: 10px;
	display: flex;
	flex-direction: column; 
}

.registerHeading { 
	height: 5vh;
	display: flex; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3vh;
} 

.registerHeading h2, .registerHeading h3 { 
	padding: 0;
	margin: 0;
} 

.registerHeading h2 {
	font-size: 4.5vh;
	margin-top: 4vh;
	margin-bottom: 1vh;
} 


.registerHeading h3 {
	font-size: 2.2vh;
} 

.registerField {
	width: 70%;
	height: 6vh;
	margin: 4vh 15%;
	font-size: 2.7vh;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	/* background-color: red; */
}

.registerField p {
	font-size: 2.2vh;
	color: white;
}

.registerField input {
	width: 100%;
	border-radius: 4px;
	padding: 5px; 
	font-size: 1.75vh;
	margin-bottom: 2vh;
}

.registerButton {
	margin: auto auto;
	height: 8vh;
	width: 10vw;
}

.registerButton button {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	font-size: 2.3vh;
	border-radius: 10px;
	color: var(--color5);
}








